@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  scrollbar-width: auto;
  scrollbar-color: var(--text-colour) transparent;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  interpolate-size: allow-keywords;
  /* fonts */
  --font-primary: "Noto Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* colours */
  --text-colour: #050505;
  --background: #ffffff;
  --accent-colour: #275d5d;
  --secondary-accent: #434c54;
  --grey-accent: #f0f0f0;
  --success: #0a5c36;
  --failure: #8b0000;

  /* Font Weights */
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-600: 600;

  /* Text Sizes */
  /* Headings */
  --text-h1: clamp(1.2rem, 1.7rem, 2.2rem);
  --text-h2: clamp(1.1rem, 1.5rem, 1.875rem);
  --text-h3: clamp(1rem, 1.3rem, 1.6rem);
  --text-h4: clamp(0.9rem, 1.1rem, 1.3rem);

  /* mobile menu heading size */
  --mobile-h2: clamp(0.9rem, 1.4rem, 1.8rem);

  /* mobile menu text sizes */
  --mobile-link: clamp(0.85rem, 1.1rem, 1.3rem);
  --mobile-button: clamp(0.65rem, 0.85rem, 1.2rem);
  --mobile-body: clamp(0.65rem, 0.85rem, 1.1rem);

  /* Content Text */
  --text-link: clamp(0.875rem, 1.1rem, 1.3rem);
  --text-body: clamp(0.875rem, 1.1rem, 1.25rem);
  --text-success: clamp(0.875rem, 0.95rem, 1rem);
  --text-failure: clamp(0.875rem, 0.95rem, 1rem);
  --text-button: clamp(0.875rem, 1rem, 1.3rem);
  --text-small: clamp(0.75rem, 0.8rem, 0.875rem);
  --text-xsmall: clamp(0.5rem, 0.65rem, 0.75rem);
}

/* general global styles */

h1 {
  font-weight: var(--font-weight-600);
  font-size: var(--text-h1);
  font-family: var(--font-primary);
}

h2 {
  font-weight: var(--font-weight-400);
  font-size: var(--text-h2);
  font-family: var(--font-primary);
}

h3 {
  font-weight: var(--font-weight-400);
  font-size: var(--text-h3);
  font-family: var(--font-primary);
}

h4 {
  font-weight: var(--font-weight-400);
  font-size: var(--text-h4);
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-secondary);
  font-size: var(--text-body);
  font-weight: var(--font-weight-400);
}

/* scrollbar styles */

::-webkit-scrollbar-thumb {
  background-color: var(--text-colour) !important;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-colour) !important;
}

/* back to top button */

.back-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-accent);
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: var(--text-colour);
}

/* Message Styling */
.success-message,
.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  background-color: var(--background);
  color: var(--text-colour);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--text-success);
  min-width: 320px;
  max-width: 400px;
  animation: fadeInOut 2s forwards;
  opacity: 0;
  visibility: hidden;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
}

.success-message svg,
.error-message svg {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.success-message {
  border-left: 5px solid var(--success);
}

.error-message {
  border-left: 5px solid var(--failure);
}

/* Animation for appearing and disappearing */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
    visibility: visible;
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
    visibility: visible;
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
    visibility: hidden;
  }
}

/* navigation bar styles */

header {
  width: 100%;
  background-color: var(--background);
  color: var(--text-colour);
  border-bottom: 1px solid var(--text-button);
  height: 100px;
  top: 0;
  left: 0;
  position: relative;
}

.top-container {
  height: 35%;
  display: flex;
  background-color: var(--text-colour);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.top-text p {
  color: var(--background);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-600);
  font-size: var(--text-link);
  text-transform: uppercase;
}

.nav-container {
  height: 65%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-colour);
}

.logo-container {
  height: 50px;
  min-width: 75px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

.logo {
  max-width: 100%;
  height: 50px;
  width: 100px;
  overflow-y: hidden;
}

.text-logo {
  display: none;
}

.text-logo a {
  font-family: var(--font-secondary);
  color: var(--text-colour);
  font-weight: var(--font-weight-600);
  font-size: var(--text-link);
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.nav-links ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-colour);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-600);
  font-size: var(--text-link);
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: var(--accent-colour);
}

#shopby {
  position: relative;
  padding-right: 1rem;
}

#shopyby:hover .megabox {
  visibility: visible;
}

#shopby::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--text-colour);
  transition: transform 0.3s ease, border-color 0.3s ease;
}

#shopby:hover::after {
  transform: translateY(-50%) rotate(180deg);
  border-top-color: var(--accent-colour);
}
.action-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.search-container {
  position: relative;
}

.search-container,
.cart-container,
.user-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.search-container svg {
  transform: translateY(-1px);
}

.user-container svg {
  transform: translateY(1px);
}

.search-container,
.cart-container svg {
  width: 1.5rem;
  height: 1.5rem;
}

.search-container,
.cart-container,
.user-container svg:hover {
  cursor: pointer;
}

.search-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  padding: 1rem;
  background-color: var(--background);
  border: 1px solid var(--text-colour);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  transform: translateY(-10px);
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
}

.search-dropdown.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.search-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.search-input-container input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid var(--text-colour);
  border-radius: 6px;
  outline: none;
  background-color: var(--background);
  color: var(--text-colour);
}

.burger-container {
  display: none;
}

.close-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 2rem;
  width: 2rem;
}

.close-container svg {
  width: 1.5rem;
  height: 1.5rem;
}

input[type="text"] {
  font-family: var(--font-primary);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--text-colour);
  border: 1px solid var(--text-colour);
  border-radius: 6px;
  cursor: pointer;
  color: var(--background);
  transition: background-color 0.2s;
  margin-top: 5px;
  font-family: var(--font-primary);
  font-size: var(--text-button);
  font-weight: var(--font-weight-600);
}

input[type="submit"]:hover {
  background-color: var(--accent-colour);
}

/* navigation media queries */

@media (max-width: 840px) {
  .action-container {
    gap: 0.25rem;
    margin-right: 0.5rem;
  }
  .nav-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation .nav-links {
    display: none;
  }

  .burger-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    width: fit-content;
  }

  .burger-container svg {
    width: 1.7rem;
    height: 1.7rem;
    stroke-width: 1.5px;
  }

  .top-text {
    justify-content: center;
  }
  .top-text p {
    font-size: var(--text-link);
  }

  .text-logo {
    display: flex;
    justify-content: center;
  }

  .search-dropdown {
    position: fixed;
    top: 120px;
    left: 50%;
    width: 75%;
    max-width: 300px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  .search-dropdown.active {
    transform: translateX(-50%) translateY(0);
  }
}

@media (max-width: 600px) {
  .top-text p {
    font-size: var(--text-small);
    justify-content: center;
  }

  .top-list a {
    display: none;
  }
}

@media (max-width: 450px) {
  .logo-container {
    display: none;
  }
  .text-logo {
    margin-left: 1rem;
  }

  .search-dropdown {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .top-text a {
    font-size: var(--text-small);
  }
}

/* laptop burger menu styles */

.tablet-burger-container {
  display: none;
}

#tablet-burger-button {
  width: 1.7rem;
  height: 1.7rem;
  transform: translateY(1px);
  align-items: center;
}

.tablet-shop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--background);
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}
.tablet-shop-menu.active {
  transform: translateY(0);
}

.tablet-shop-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-colour);
}

@media (min-width: 841px) and (max-width: 1028px) {
  .tablet-burger-container {
    display: block;
  }

  #shopby {
    display: none;
  }

  .nav-container {
    justify-content: center;
    gap: 1rem;
  }
}

/* end of navigation styles */

/* navigation megabox menu styyles */
.megabox {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: var(--background);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  transition: opacity 0.25s ease, visibility 0.25s ease;
  opacity: 0;
  visibility: hidden;
  border-bottom: 2px solid var(--text-colour);
}

.megabox.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.megabox-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.megabox-content {
  display: flex;
  flex-direction: column;
}

/* Top categories row */
.megabox-row {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 3rem;
}

.megabox-title {
  font-weight: var(--font-weight-600);
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  color: var(--text-colour);
  transition: color 0.2s;
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.megabox-title:hover {
  color: var(--text-colour);
}

.content-box {
  display: flex;
  gap: 3rem;
}
/* Category columns */
.category-column {
  flex: 1;
}

.category-heading {
  font-size: 1rem;
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  color: var(--text-colour);
  font-family: var(--font-secondary);
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  margin-bottom: 1rem;
}

.category-link {
  text-decoration: none;
  color: var(--text-colour);
  opacity: 1;
  font-size: 1rem;
  display: block;
  padding: 4px 0;
  font-family: var(--font-secondary);
}
/* end of navigation styles */

/* mobile menu styles */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--text-colour);
}

.mobile-logo a {
  font-family: var(--font-secondary);
  color: var(--text-colour);
  font-weight: var(--font-weight-600);
  font-size: var(--text-link);
  text-transform: uppercase;
  text-decoration: none;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.basket-icon {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

#close-burger {
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 4px;
  overflow: hidden;
  margin-inline: 0.5rem;
  border: 1px solid var(--secondary-accent);
}

.mobile-search input {
  flex: 1;
  padding: 0.5rem;
  border: none;
}

.mobile-search input:focus {
  border: 1px solid var(--text-colour);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.mobile-search input:focus svg {
  color: var(--text-colour);
}

.mobile-search button {
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-user-action {
  margin-top: 1rem;
  width: 100%;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.mobile-user-action a {
  flex-grow: 1;
  background-color: var(--text-colour);
  color: var(--background);
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: var(--mobile-button);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}

.mobile-navigation {
  padding: 1rem;
}

.mobile-navigation h2 {
  font-size: var(--mobile-h2) !important;
  font-weight: var(--font-weight-400);
}

.mobile-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-links li {
  margin-bottom: 0.5rem;
}

.mobile-nav-links a {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  font-size: var(--mobile-link);
  text-decoration: none;
  color: var(--text-colour);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}

.mobile-submenu {
  list-style: none;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.mobile-submenu li:last-child a {
  border-bottom: 1px solid var(--secondary-accent) !important;
}

/* shop by teams mobile menu */
.mobile-teams-navigation {
  width: 100%;
  margin-top: 0.5rem;
}

.mobile-teams-heading {
  font-size: var(--mobile-h2);
  font-weight: var(--font-weight-400);
}

.mobile-league-accordion {
  margin-bottom: 5px;
}

.mobile-league-title {
  font-weight: var(--font-weight-400);
  padding: 12px 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--mobile-h2);
}

.mobile-league-title::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--text-colour);
  transition: transform 0.3s ease;
}

/* Rotate triangle when open */
details[open] .mobile-league-title::after {
  transform: rotate(180deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.mobile-teams-list {
  list-style: none;
  margin-left: 0.5rem;
  color: var(--text-colour);
  border-bottom: none;
}

.mobile-team-item {
  margin: 5px 0;
}

.mobile-team-link {
  color: var(--text-colour);
  text-decoration: none;
  display: block;
  padding: 8px 5px;
  font-size: var(--mobile-link);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
  border-bottom: transparent;
}

.mobile-team-link:hover,
.mobile-team-link:focus {
  text-decoration: underline;
}

.mobile-league-accordion:not(:first-child) {
  margin-top: 0.5rem;
}

.mobile-league-title {
  font-size: var(--mobile-link);
  font-weight: var(--font-weight-400);
  font-family: var(--font-primary);
}

/* footer styles */
.footer-wrapper {
  width: 100%;
  background-color: var(--background);
  border-top: 1px solid var(--text-colour);
}

footer {
  width: 100%;
  padding: 2rem 0;
}

.footer,
.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.footer-logo {
  flex: 1 1 100%;
  margin-bottom: 1.5rem;
}

.footer-column {
  flex: 1 1 200px;
  margin-bottom: 1.5rem;
  padding-right: 1rem;
}

.footer-column h3 {
  margin-bottom: 1rem;
  font-size: var(--text-h3);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-300);
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: var(--text-colour);
  font-size: var(--text-link);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}

.footer-column ul li p {
  color: var(--text-colour);
  font-size: var(--text-link);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}

.payment-methods {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
}

.payment-methods h3 {
  margin-bottom: 1.5rem;
  font-size: var(--text-h3);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-300);
}

.card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon img {
  height: 30px;
  width: 54px;
  object-fit: contain;
}

/* Copyright section */
.copyright {
  text-align: center;
  padding-top: 1.5rem;
  border-top: 1px solid var(--text-colour);
  width: 100%;
}

.copyright p {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
  color: var(--text-colour);
  font-size: var(--text-small);
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-column {
    flex: 1 1 100%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .card-icons {
    gap: 1.5rem;
  }

  .card-icon img {
    height: 20px;
    width: 38px;
  }
}

/* end of footer styles */

/* login page styles */

.login-container {
  display: flex;
  min-height: 85vh;
  width: 100%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--background);
  overflow: hidden;
}

/* Left side */
.login-image {
  flex: 1;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right side */
.login-form {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
}

.login-form h2 {
  margin-bottom: 2rem;
  color: var(--text-colour);
  font-size: var(--text-h2);
  font-weight: var(--font-weight-400);
  text-transform: uppercase;
  font-family: var(--font-primary);
}

.login-form label {
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 8px;
  color: var(--text-colour);
  font-size: var(--text-link);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-600);
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 0.7rem 0.9rem;
  border: 1px solid var(--text-colour);
  border-radius: 5px;
  font-size: var(--text-link);
  font-family: var(--font-secondary);
  transition: all 0.3s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: var(--text-colour);
  box-shadow: 0 0 8px rgba(66, 133, 244, 0.3);
  outline: none;
}

.login-form input[type="submit"] {
  background-color: var(--text-colour);
  color: var(--background);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 30px;
  cursor: pointer;
  font-size: var(--text-button);
  font-weight: var(--font-weight-600);
  transition: background-color 0.3s ease;
  font-family: var(--font-primary);
}

.login-form input[type="submit"]:hover {
  background-color: var(--accent-colour);
}

.register-link {
  margin-top: 1rem;
  text-align: left;
}

.register-link p {
  font-family: var(--font-secondary);
  font-size: var(--text-link);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
}

.register-link a {
  font-family: var(--font-primary);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
  font-size: var(--text-link);
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-form {
    flex: none;
    padding: 40px 20px;
  }

  .login-image {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .login-form {
    padding: 4rem;
  }
}

/* register page styles */
.register-container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1.2rem;
}

.register-heading-container {
  margin-bottom: 2rem;
}

.register-container h2 {
  margin-bottom: 2rem;
  color: var(--text-colour);
  font-size: var(--text-h2);
  font-weight: var(--font-weight-400);
  text-transform: uppercase;
  font-family: var(--font-primary);
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: var(--text-link);
  font-weight: var(--font-weight-600);
  margin-bottom: 0.5rem;
  color: var(--text-colour);
  font-family: var(--font-secondary);
}

.form-group input {
  width: 100%;
  padding: 0.7rem 0.9rem;
  border: 1px solid var(--text-colour);
  border-radius: 5px;
  font-size: var(--text-link);
  font-family: var(--font-secondary);
}

.terms-group {
  margin-bottom: 1.5rem;
}

.terms-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms-container p {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: var(--text-link);
  color: var(--text-colour);
}

.terms-container input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 1rem;
  accent-color: var(--text-colour);
}

.register-button {
  background-color: var(--text-colour);
  color: var(--background);
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  font-size: var(--text-button);
  transition: background-color 0.3s ease;
  font-weight: var(--font-weight-600);
  font-family: var(--font-primary);
}

.register-button:hover {
  background-color: var(--background);
  color: var(--text-colour);
}
.login-link {
  margin-top: 1rem;
  font-family: var(--font-secondary);
  font-size: var(--text-link);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
  text-align: center;
}

.login-link a {
  font-family: var(--font-secondary);
  font-size: var(--text-link);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
}

.third-party-auth {
  margin-top: 1rem;
  width: 100%;
}

.third-party-auth-text {
  font-size: var(--text-link);
  font-family: var(--font-secondary);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
  margin-bottom: 1rem;
}

/* Button base styles */
.third-party-auth-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.google-button,
.facebook-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  font-family: var(--font-secondary);
  font-size: var(--text-link);
  font-weight: var(--font-weight-500);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--background);
}

.google-button:hover,
.facebook-button:hover {
  transform: translateY(-4px);
}

.google-button img,
.facebook-button img {
  width: 18px !important;
  height: 18px !important;
  object-fit: contain;
}

@media (max-width: 600px) {
  .login-link {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .terms-container input[type="checkbox"] {
    width: 0.8rem;
    height: 0.8rem;
  }
}

/* index page styles */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  z-index: 3;
  color: var(--background);
  background-color: var(--text-colour);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.hero-title {
  font-size: var(--text-h1);
  margin-bottom: 1rem;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}

.hero-description {
  font-size: var(--text-body);
  max-width: 90%;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
  margin-bottom: 2rem;
  text-wrap: balance;
}

.hero-button {
  z-index: 4;
  border: 1px solid var(--background);
  width: fit-content;
  position: relative;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hero-button a {
  display: inline-block;
  padding: 0.8rem 2rem;
  color: var(--background);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-600);
  font-size: var(--text-button);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.hero-button:hover {
  border-color: transparent;
}

.hero-button a:hover {
  background-color: var(--accent-colour);
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .hero-text {
    width: 55%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }

  .hero-title {
    font-size: var(--text-h1);
  }

  .hero-description {
    font-size: var(--text-link);
  }

  .hero-button a {
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 430px) {
  .hero-text {
    width: 100%;
    clip-path: none;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .hero-description {
    max-width: 100%;
  }

  .hero {
    overflow-x: hidden;
  }
}

@media (orientation: portrait) {
  .hero {
    height: 45vh;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .hero {
    height: 45vh;
  }
}

/* feature heading styles */
.feature-heading {
  width: 100%;
  max-width: 1400px;
  margin: 2rem auto 0;
  padding: 0 2.5%;
  display: flex;
  text-align: left;
  position: relative;
}

.feature-heading h2 {
  font-family: var(--font-primary);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
  font-size: var(--text-h2);
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.feature-heading h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--text-colour);
}

@media (max-width: 767px) {
  .feature-heading {
    padding-inline: 0.5rem;
  }
}

/* feature container styles */
.feature-container {
  margin: 2rem auto;
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 4rem;
}

.box {
  flex: 1;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 670px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.box:hover img {
  transform: scale(1.05);
}

.feature-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background);
  text-align: center;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.box:hover .feature-overlay {
  /* darken overlay on hover */
  background-color: rgba(0, 0, 0, 0.7);
}

.feature-overlay h2 {
  margin-bottom: 2rem;
  font-size: var(--text-h2);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  font-weight: var(--font-weight-400);
  font-family: var(--font-primary);
}

.feature-button {
  display: inline-block;
  padding: 0.9rem 2.5rem;
  background-color: var(--background);
  color: var(--text-colour);
  text-decoration: none;
  border-radius: 4px;
  font-weight: var(--font-weight-600);
  font-size: var(--text-button);
  transition: all 0.3s ease;
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.feature-button:hover {
  scale: 1.1;
}

@media (max-width: 1200px) {
  .feature-container {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .box {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .feature-container {
    flex-direction: column;
    width: 95%;
    max-width: 800px;
    margin-bottom: 1.5rem !important;
  }

  .box {
    width: 100%;
    min-width: 100%;
    margin-bottom: 1.5rem;
    height: 450px;
  }
}

@media (max-width: 600px) {
  .box {
    height: 350px;
  }

  .feature-button {
    padding: 0.7rem 1.8rem;
  }

  .specialist-img,
  .retro-img {
    height: 350px !important;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

/* newsletter sign up styles */

.newsletter-signup {
  width: 100%;
  padding: 3rem 0;
  margin: 2rem 0;
  background-color: var(--background);
}

.newsletter-container {
  width: 70%;
  margin: 0 auto;
}

.newsletter-text {
  margin-bottom: 1.75rem;
}

.newsletter-text h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
  font-size: var(--text-h2);
  margin-bottom: 0.75rem;
  margin-top: 0;
  color: var(--text-colour);
}

.newsletter-text p {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
  font-size: var(--text-body);
  color: var(--text-colour);
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter-form form {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 1rem;
  align-items: center;
}

.newsletter-form input {
  padding: 0.8rem 1rem;
  border: 1px solid var(--accent-colour);
  font-family: var(--font-secondary);
  font-size: var(--text-link);
  transition: border-color 0.2s ease;
  height: 50px;
}

.newsletter-form input:focus {
  outline: none;
  border-color: var(--text-colour);
}

.newsletter-form button {
  padding: 0.3rem 0.8rem;
  background-color: var(--text-colour);
  color: var(--background);
  border: none;
  font-family: var(--font-primary);
  font-size: var(--text-button);
  font-weight: var(--font-weight-600);
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
  height: 50px;
  border-radius: 4px;
  align-items: center;
}

.newsletter-form button:hover {
  background-color: var(--accent-colour);
}
@media (max-width: 900px) {
  .newsletter-container {
    width: 85%;
  }

  .newsletter-form form {
    grid-template-columns: 1fr 1fr;
  }

  .newsletter-form button {
    grid-column: span 2;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .newsletter-container {
    width: 90%;
  }

  .newsletter-form form {
    grid-template-columns: 1fr;
  }

  .newsletter-form button {
    grid-column: 1;
  }
}

/* price points styles start */

.price-points {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
}
/* heading styles */
.price-points-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.price-points-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

/* grid styles */
.price-points-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.price-points-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.price-points-grid-item {
  border: 1px solid var(--text-colour);
  border-radius: 5px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-heading {
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-colour);
}

.item-content {
  font-size: var(--text-body);
  color: var(--text-colour);
  text-wrap: balance;
  margin-inline: 1rem;
  flex-grow: 1;
}

.price-link-container {
  display: flex;
  justify-content: start;
  margin: 1rem;
  padding-bottom: 0.5rem;
}

.item-link {
  width: fit-content;
  background-color: var(--text-colour);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 300ms;
  border: 1px solid var(--text-colour);
  font-size: var(--text-button);
  color: var(--background);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
  text-decoration: none;
  white-space: nowrap;
}

.item-link:hover {
  background-color: transparent;
  color: var(--text-colour);
}

@media (max-width: 1028px) {
  .price-points-grid {
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: 0 auto;
  }

  .price-points-grid-item {
    width: 100%;
    height: auto;
    min-height: 150px;
  }
}

@media (max-width: 768px) {
  .price-points {
    padding: 1.5rem;
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .price-points-grid-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 1rem;
  }

  .item-heading {
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
  }

  .item-content {
    width: 60%;
    margin: 0;
    padding-right: 1rem;
  }

  .price-link-container {
    width: 30%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
  }

  .item-link {
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 480px) {
  .price-points {
    padding: 1rem;
    margin-inline: 0;
  }

  .price-points-grid-item {
    padding: 0.75rem;
  }

  .item-content {
    width: 50%;
  }

  .price-link-container {
    width: 40%;
  }
}
/* end of price points styles */

/* navigate by team styles start */
.team-quick-link {
  width: 100%;
  overflow-x: hidden;
}

.quick-link-heading {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.quick-link-heading h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
  color: var(--text-colour);
  font-size: var(--text-h2);
}

.team-quick-navigation-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.quick-link-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  max-width: 1400px;
  width: 100%;
}

.quick-link-grid-item {
  height: 450px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 5px;
}

.quick-link-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quick-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background);
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.quick-link-grid-item:hover .quick-link-overlay {
  /* Show overlay on hover */
  opacity: 1;
}

.quick-link-overlay h3 {
  color: var(--background);
  font-weight: var(--font-weight-400);
  font-size: var(--text-h3);
  margin-bottom: 1.5rem;
  font-family: var(--font-primary);
}

.quick-link-overlay a {
  color: var(--background);
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  background-color: var(--text-colour);
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: var(--text-button);
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}

.quick-link-overlay a:hover {
  background-color: var(--background);
  color: var(--text-colour);
}

.quick-link-overlay h3.team-name {
  display: block;
}

.quick-link-overlay h3.small-text {
  display: none;
}

@media (max-width: 1028px) {
  .quick-link-overlay {
    opacity: 0.9;
  }

  /* Toggle Manchester United short name only */
  .quick-link-overlay h3.team-name {
    display: none;
  }

  .quick-link-overlay h3.small-text {
    display: block;
  }
}

@media (max-width: 768px) {
  .quick-link-grid {
    grid-template-columns: 1fr 1fr;
  }

  .quick-link-grid-item {
    height: 200px;
  }
}

/* navigate by team styles ennd */

/* membership benefits styles */
.benefits-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.benefits-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.benefits-heading h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
  font-size: var(--text-h2);
  color: var(--text-colour);
  text-transform: uppercase;
}

.benefits-text {
  text-align: center;
  margin-bottom: 2rem;
}

.benefits-text p {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
  font-size: var(--text-body);
  margin-bottom: 1.5rem;
  color: var(--text-colour);
}

.benefits-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 1.25rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%;
}

.benefit-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.benefit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0;
}

.benefit-icon svg {
  width: 32px;
  height: 32px;
}

.benefit-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.benefit-text h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
  font-size: var(--text-h4, 1.125rem);
  margin-bottom: 0.5rem;
  color: var(--text-colour);
}

.benefit-text p {
  font-family: var(--font-secondary);
  font-size: var(--text-small, 0.875rem);
  color: var(--text-colour);
  opacity: 0.8;
  line-height: 1.5;
}

.index-register-section {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.index-register-section a {
  display: inline-block;
  background-color: var(--text-colour);
  color: var(--background);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
  font-size: var(--text-button);
  text-decoration: none;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  border: 2px solid var(--text-colour);
  transition: all 0.2s ease;
}

.index-register-section a:hover {
  background-color: transparent;
  color: var(--text-colour);
}

@media (max-width: 992px) {
  .benefits-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .benefit-icon {
    justify-content: start;
  }

  .benefits-text p {
    font-size: var(--text-link);
  }
}

@media (max-width: 768px) {
  .benefits-container {
    padding: 1rem auto;
  }

  .benefits-grid {
    grid-template-columns: 1fr;
  }

  .benefit-item {
    width: 100%;
  }

  .benefits-heading {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .benefits-text {
    text-align: left;
    text-wrap: balance;
    margin-bottom: 1.5rem;
  }
}

/* review styles */
.reviews {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.reviews-heading h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
  color: var(--text-colour);
  margin-inline: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.review-item {
  max-width: 600px;
  height: 350px;
  border: 1px solid var(--text-colour);
  border-radius: 5px;
  margin: 0 1rem;
  flex: 1 1 45%;
  min-width: 280px;
  max-width: 45%;
  transition: all 0.3s ease;
}

.review-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review-content {
  padding: 1.5rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-content p {
  font-family: var(--font-primary);
  font-size: var(--text-body);
  line-height: 1.6;
  color: var(--text-colour);
  margin-bottom: 1rem;
  overflow-y: none;
  text-wrap: balance;
}

.review-rating {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: auto;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--text-body);
}

.review-rating svg {
  width: 1.1rem;
  height: 1.1rem;
  fill: #f1c40f;
  transform: translateY(0.5px);
}

.review-author {
  height: 30%;
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--text-colour);
  display: flex;
  align-items: center;
}

.review-author p {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
  font-style: italic;
  color: var(--text-colour);
}

@media (max-width: 960px) {
  .review-item {
    width: 90%;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    padding-bottom: 1rem;
  }

  .review-content {
    height: auto;
    min-height: 150px;
  }

  .review-author {
    height: auto;
  }
}

/* review form styles */
.review-form-container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1.2rem;
}

.review-form-header {
  margin-bottom: 2rem;
}

.review-form-header h2 {
  margin-bottom: 2rem;
  color: var(--text-colour);
  font-size: var(--text-h2);
  font-weight: var(--font-weight-400);
  text-transform: uppercase;
  font-family: var(--font-primary);
}

.review-name-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.review-name-field {
  width: 100%;
}

.review-form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.review-name-field label,
.review-form-group label {
  display: block;
  font-size: var(--text-link);
  font-weight: var(--font-weight-600);
  margin-bottom: 0.5rem;
  color: var(--text-colour);
  font-family: var(--font-secondary);
}

.review-name-field input,
.review-form-group input,
.review-form-group textarea {
  width: 100%;
  padding: 0.7rem 0.9rem;
  border: 1px solid var(--text-colour);
  border-radius: 5px;
  font-size: var(--text-link);
  font-family: var(--font-secondary);
}

.review-form-group textarea {
  resize: vertical;
}

#rating:user-valid {
  border: 2px solid var(--success);
}

#rating:user-invalid {
  border: 2px solid var(--failure);
}
.review-form-group button {
  background-color: var(--text-colour);
  color: var(--background);
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  font-size: var(--text-button);
  transition: background-color 0.3s ease;
  border: 1px solid var(--text-colour);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}

.review-form-group button:hover {
  background-color: var(--accent-colour);
  color: var(--background);
}

@media (max-width: 768px) {
  .review-name-row {
    flex-direction: column;
    gap: 1rem;
  }
}

/* product page styles */
.product-hero {
  width: 100%;
  height: 100px;
}

.product-heading {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.product-heading h1 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
  font-size: var(--text-h1);
  text-transform: uppercase;
}

.product-grid {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
  height: auto;
}

.product-card {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
  height: 250px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.product-image img:hover {
  transform: scale(1.05);
}

.product-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0.75rem;
  margin-top: 0.75rem;
}

.product-team {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
  font-size: var(--text-h2);
  color: var(--text-colour);
}

.product-year {
  font-size: var(--text-link);
  font-weight: var(--font-weight-400);
  color: var(--text-colour);
  font-family: var(--font-secondary);
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0.75rem;
  margin-top: 0.75rem;
}

.product-category {
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
  color: var(--text-colour);
  margin-left: 0.25rem;
  background-color: var(--grey-accent);
  padding-inline: 0.85rem;
  padding-block: 0.25rem;
  border-radius: 15px;
  min-width: fit-content;
}

.product-category p {
  font-size: var(--text-xsmall) !important;
  font-weight: var(--font-weight-400) !important;
  font-family: var(--font-secondary) !important;
  margin: 0;
  text-align: center;
}

.product-type {
  font-size: var(--text-link);
  font-weight: var(--font-weight-400);
  color: var(--text-colour);
  font-family: var(--font-secondary);
}
.product-size {
  font-size: var(--text-link);
  font-weight: var(--font-weight-400);
  color: var(--text-colour);
  font-family: var(--font-secondary);
}

.product-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0.5rem;
  margin-block: 0.75rem;
}

.product-price {
  font-size: var(--text-h2);
  font-weight: var(--font-weight-600);
  color: var(--text-colour);
  font-family: var(--font-primary);
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.basket-button,
.view-button {
  width: 100%;
  padding: 0.65rem 1rem;
  border-radius: 6px;
  font-weight: var(--font-weight-600);
  font-family: var(--font-primary);
  font-size: var(--text-button);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.02em;
}

.basket-button {
  background-color: var(--accent-colour);
  color: var(--background);
  border: none;
}

.view-button {
  background-color: var(--text-colour);
  color: var(--background);
}

.view-button a,
.basket-button a {
  font-size: var(--text-button);
  font-weight: var(--font-weight-600);
  font-family: var(--font-primary);
}

.no-products {
  text-align: center;
  padding: 2rem;
  font-size: var(--text-h2);
  font-family: var(--font-secondary);
  color: var(--text-colour);
  font-weight: var(--font-weight-400);
}

@media (min-width: 1028px) and (orientation: portrait) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .product-image {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr;
  }

  .product-card:not(:first-child) {
    margin-top: 1rem;
  }

  .product-image {
    height: 250px;
  }
}
